---
import Layout from "../layouts/Layout.astro";
import Github from "/github.svg";
import Twitter from "/twitter.svg";
import Sky from "/sky.jpg";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Build the things">
	<main class="flex flex-col items-center justify-center">
		<div class="flex flex-col text-4xl w-fit items-center">
			<div
				class="bg-gradient-to-tr from-rose-700 to-cyan-500 mt-20 mb-2 rounded-full p-1"
			>
				<img
					class="z-10 rounded-full blur-0"
					src={Sky}
					alt="Profile Logo"
					width="128"
					height="128"
				/>
			</div>
			<div>
				<span class="font-bold">McKittrick</span> Kaminski
			</div>
		</div>

		<div class="flex justify-between items-center gap-4 mt-4">
			<div class="text-slate-400 text-2xl">@McKamyk</div>

			<div class="flex gap-2 items-center">
				<a class="inline px-1" href="http://github.com/mckamyk" target="_blank">
					<img src={Github} alt="Github Logo" width="32" height="32" />
				</a>
				<a
					class="inline px-1"
					href="https://twitter.com/mckamyk"
					target="_blank"
				>
					<img src={Twitter} alt="Twitter Logo" width="32" height="32" />
				</a>
			</div>
		</div>

		<div class="flex gap-2 mt-4">
			<div class="border-r-[1px] border-r-slate-100 pr-2">Full Stack</div>
			<div class="border-r-[1px] border-r-slate-100 pr-2">Crypto</div>
			<div class="border-r-[1px] border-r-slate-100 pr-2">Analytics</div>
			<div class="">Automation</div>
		</div>

		<div class="mt-16 flex flex-col p-2 gap-2 items-center">
			<div class="text-3xl mb-4">Projects</div>
			<ProjectCard
				name="Weact"
				description="Preact inside Web Components"
				github="https://github.com/mckamyk/weact"
			/>
			<ProjectCard
				name="Viewer"
				description="Ethereum Block Analysis"
				github="https://github.com/mckamyk/viewer"
			/>
			<ProjectCard
				name="Anthill"
				description="Gnosis Safe Multisig Automation"
				github="https://github.com/mckamyk/viewer"
			/>
		</div>
	</main>
</Layout>
