---
import AstroLogo from "/astro-dark.svg";
---

<div class="fixed right-4 bottom-4 text-lg flex items-center italic">
	Built with <span class="text-red-600 ml-1">♥</span>,
	<span class="not-italic">☕</span>
	, and <img class="inline ml-1 mt-2" src={AstroLogo} width="20" height="20" />
</div>
